<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To do app</title>
    <style>
        .list-group-item{
            border-radius: 10px;
        }

        *{
            font-weight: 200;
        }
    </style>
</head>

<body>
{% extends "base.html" %} {% block content %}

<div class="row mt-4 mb-2">
    <div class="col">
        <h2>Add item</h2>
        <form action="add_todo/" method="post" class="form-inline" style="width: 70%;">
            {% csrf_token %}
            <input type="text" name="content" class="form-control  mb-2 mt-2  mr-sm-2 " placeholder="Type here...">
            <button type="submit" style="display: inline-block;" class="btn btn-primary mr-2" style="border-radius: 10px;">Submit</button>
        </form>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group mt-4">
                {% for item in todo_items %}
                <li class="list-group-item">{{item.text}} <p>     </p>
                    Date_Added: ({{ item.added_date }})

                    <div class="float-end">
                        <form action="delete_todo/{{item.id}}/" method="post">
                            <button type="submit" class="btn btn btn-danger"  style="border-radius: 10px;">Delete</button>
                        </form>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>


{% endblock %}
</body>
</html>